[submodule "generator-webapp"]
	path = generator-webapp
	url = https://github.com/yeoman/generator-webapp.git
[submodule "generator-mpqh"]
	path = generator-mpqh
	url = git@github.com:zhanpingrao/generator-mpqh.git
